@import "bootstrap";

/**
 * jvscript theme
 */


.content{
    padding-top: 65px;
}

footer{
    margin: 40px 0 20px;
}

.panel-default > .panel-heading{
    color: black;
}

//show script/skin page - short 'by autor' text
h1 .autor{
    font-size: 22px;
}

.sensibility{
    font-size: 25px;
}
//cursor on disabled input
input.disabled{
    cursor: not-allowed;
}

//login/register page hr

.panel hr{    
    border-color: #2f3537;    
}