@import "bootstrap";

/**
 * jvscript theme
 */


.content{
    padding-top: 65px;
}

footer{
    margin: 40px 0 20px;
}

.panel-default > .panel-heading{
    color: black;
}

//show script/skin page - short 'by autor' text
h1 .autor{
    font-size: 22px;
}

.sensibility{
    font-size: 25px;
}
