@import "bootstrap";

/**
 * jvscript theme
 */


.content{
    padding-top: 90px;
}

footer{
    margin: 40px 0 20px;
}
//show script/skin page - short 'by autor' text
h1 .autor{
    font-size: 22px;
}

.sensibility{
    font-size: 25px;
}
//cursor on disabled input
input.disabled{
    cursor: not-allowed;
}
/**
* Home page
*/

ul{
    margin-bottom: 0px;
    -webkit-padding-start: 0px;
}
ul li{
    list-style: none;
    display: inherit;
}
.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    height: 100%;
}
.image img{
    position:absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.caption > h4{
    white-space:nowrap;
    overflow: hidden;
}
.display_none{
    display:none;
}
.list{
    margin-top:40px;
    margin-left: -15px;
    margin-right: -15px;
}
div#ajax-content {
    margin-left: 15px;
    margin-right: 15px;
}


.desc img{
    @include img-responsive;
}

.b-lazy{
    color: transparent;
}
